<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- "1": OnPremise | "2": Online -->
    <add key="ExecMode" value="1"/>
    <!-- MSCRM Online -->
    <add key="OrganizationUrlOnline" value="https://WeborganicDev791.crm5.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="UsernameOnline" value="admin@WeborganicDev791.onmicrosoft.com"/>
    <add key="PasswordOnline" value="Test1234"/>
    <!-- On Premise -->
    <add key="OrganizationUrlOnPremise" value="http://devildog.introv.com:4008/WebOrganicDEV/XRMServices/2011/Organization.svc"/>
    <add key="UsernameOnPremise" value="administrator"/>
    <add key="PasswordOnPremise" value="!nTrov77"/>
  </appSettings>
</configuration>